{% extends "main.html" %}
{% block maincontent %}
<div>
<div class="row">
   <div class="col-md-12">
               <div class="panel panel-default" style="margin:15px;">
      
         <div class="panel-heading"> Add Category</div>
            <div class="panel-body" style="background-color:#888; padding:10px;"> 
      
   

<div>
   <form action='{{url_for('addgearcategory')}}' method="POST" enctype='multipart/form-data'>
   {{ form.csrf_token }}
      {% if form.csrf_token.errors %}
         <div class="row">
            <div class="col-md-12">
               <ul class="errors">
                  {% for error in form.csrf_token.errors %}
                  {{ error }}
                  {% endfor %}
               </ul>
            </div>
         </div>
         {% endif %}
   <div class="row">
      <div class="col-md-3">
         {{ form.name.label }}  
      </div>
      <div class="col-md-9">
         {{ form.name(class="field_size1")  }}
      </div>
      {% if form.name.errors %}
      <ul class="errors">
         {% for error in form.name.errors %}
         {{ error }}
         {% endfor %}
      </ul>
      {% endif %}
   </div>
   <input class="btn btn-default" type="submit" value="Submit" style="float:right; margin:15px;">

   </form>
</div>
</div>
</div>
{% endblock %}
