<!DOCTYPE html>
<html>
<head>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="profile email" name="google-signin-scope">
    <meta content="{{CLIENT_ID}}" name="google-signin-client_id">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
    <!--Google Scripts-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js">
    </script>
    <script src="https://apis.google.com/js/client:platform.js?onload=start" async defer>
    </script>
    <script src="https://apis.google.com/js/client.js?onload=init"></script>
    <script async="" defer src="https://apis.google.com/js/platform.js"></script>
    <script src=
    "https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!--Bootstrap Scripts-->
    <script src=
    "http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <script>

    function onSignIn(googleUser) {
        var id_token = googleUser.getAuthResponse().id_token;
        var xhr = new XMLHttpRequest();
        var url = "http://" + self.location.hostname + "/tokensignin"; 
	xhr.open('POST', url);
        xhr.setRequestHeader('Content-Type','application/x-www-form-urlencoded');
        xhr.onload = function() {
            console.log('Status ' + xhr.responseText);
        };
        xhr.send('idtoken=' + id_token);

    }

    function signOut() {
        var auth2 = gapi.auth2.getAuthInstance();
        user = auth2.currentUser.get();
        id_token = auth2.currentUser.get().getAuthResponse().id_token;
        var xhr = new XMLHttpRequest();
        var url = "http://" + self.location.hostname + "/tokensignout";
        xhr.open('POST', url);
        xhr.setRequestHeader('Content-Type','application/x-www-form-urlencoded');
        xhr.onload = function() {
            console.log('Status ' + xhr.responseText);
        };
        xhr.send('idtoken=' + id_token);
        auth2.signOut().then(function() {
            console.log('User signed out.');
            setTimeout(function() {
                window.location.href = window.location.pathname;
            }, 400);
        });
    } 
                  
   </script>
   <title>Gearopedia</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-md-3">
                <h3>Gearopedia</h3>
            </div>{% if login_session['name'] %}

            <div class="col-xs-6 col-md-3">
                <div style="margin-top:20px">
                 <div class="g-signin2"  data-onsuccess="onSignIn"
                    data-theme="light"></div> 

                </div>
            </div>

            <div class="col-xs-6 col-md-3"><img class="img-circle" src=
            "{{login_session['picture']}}" style=
            "height:50px; width:50px"></div>{% else %}

            <div class="col-xs-6">
                <div style="margin-top:20px">
                   <div class="g-signin2" data-onsuccess="onSignIn"
                    data-theme="dark"></div>
                </div>
            </div>{% endif %} <!-- drop down menu -->

            <div class="col-xs-6 col-md-3" style=
            "height:80px; padding-top:20px">
                <div>
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle"
                        data-toggle="dropdown" type="button">Menu<span class=
                        "caret"></span></button>

                        <ul class="dropdown-menu" style=
                        "min-width:100px; font-size:18px">
                            <li>
                                <a href=
                                "{{url_for('default')}}">Home</a>
                            </li>

                            <li>
                                {% if login_session['name'] %} 
                                <a href="#"onclick="signOut();">Logout</a> 
                                {% else %}
                                <a href="{{url_for('login')}}">Login</a>
                                
                                {% endif %}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div><!-- messaging -->
        {% with messages = get_flashed_messages() %} {% if messages %}

        <div class="row">
            <div class="col-sm-12">
                <ul>
                    <li style="list-style: none">{% for message in
                    messages%}</li>

                    <li class="error"><strong>{{ message }}</strong></li>

                    <li style="list-style: none">{% endfor %}</li>
                </ul>
            </div>
        </div>{% endif %} {% endwith %}

        <div class="row">
            <div class='col-sm-6'></div>
        </div>
        <hr>
        {% block maincontent %} {% endblock %} <!--close row-->
         <!--close container-->
    </div>
</body>
</html>
