<html>

<body>

<h1>Gear Wiki - Item</h1>
<h3><a href='{{url_for('DefaultGearCategories')}}'>Categories</a></h3>
	{% with messages = get_flashed_messages() %}
	{% if messages %}
	<ul>
		{% for message in messages %}
		<li><strong>{{ message }}</strong></li>
		{% endfor %}
	</ul>
	{% endif %}
	{% endwith %}

{% for item in items %}

<div>
	<p>{{item.manufacturer}} {{item.model}}</p>
	<li>{{item.description}}</li>
	<li><a href='{{item.product_url}}'>Product Website</a></li>
	<li><a href='{{item.manual_url}}'>Manual</a></li>
	<li><a href='#'>View Items</a></li>
</div>


{% endfor %}
</body>

</html>