<!DOCTYPE html>
<html>
   <head>
      <meta name="viewport" content = "width=device-width, inital-scale=1">
      <link rel="stylesheet" href="/static/css/bootstrap.min.css">
      <link rel="stylesheet" href="/static/css/style.css">
   </head>
   <body>
      <div class="container">
         <div class="row">
            <div class = "col-md-12">
               <h1>Gear'opedia
            
	    {% if login_session['username'] %}
            
		<img src="{{login_session['picture']}}" style = "width: 50px; height: 50px;border-radius:\
         	50px;-webkit-border-radius: 50px;-moz-border-radius: 50px; float: right; margin-top: 5px">
	    	</h1>
		</div>
	    {% else %}
	    </div>
	    {% endif %}	
         </div>
         <!-- messaging -->
         {% with messages = get_flashed_messages() %}
         {% if messages %}
         <div class="row">
            <div class = "col-md-12"
            <ul>
               {% for message in messages %}
               <li class="error"><strong>{{ message }}</strong></li>
               {% endfor %}
            </ul>
         </div>
      </div>
      {% endif %}
      {% endwith %}
      <div class="row">
         <div class="col-md-6">
            <a id="button" href='{{url_for('defaultgearcategories')}}'>Home</a>
         </div>
         <div class="col-md-6">
            {% if login_session['username'] %}
            <a id="button" href='/gdisconnect'>Logout</a>
            {% else %}
            <a id="button" href='/login'>Login</a>
            {% endif %}
         </div>
      </div>
      <hr>
      {% block maincontent %}
      {% endblock %}
      </div>
      </div><!--close row-->
      </div><!--close container-->
   </body>
</html>
