{% extends "main.html" %}
{% block maincontent %}
<div>
   <div class="row">
      <div class="col-md-12">
         <h3>
            Category: {{category.name}}
         </h3>
      </div>
   </div>
   <div>
      {% if model %}
      <form action='{{url_for('editmodel', model_id=model.id)}}' method="POST" enctype='multipart/form-data'>
      {% else %}
      <form action='{{url_for('addmodel', category_id=category.id)}}' method="POST" enctype='multipart/form-data'>
      {% endif %}
      <!--MANUFACTURER-->
      <div class="row">
         <div class="col-md-3">
            {{ form.manufacturer.label }}  
         </div>
         <div class="col-md-9">
            {{ form.manufacturer(class="field_size1")  }}
         </div>
         {% if form.manufacturer.errors %}
         <div class="row">
            <div class="col-md-12">
               <ul class="errors">
                  {% for error in form.manufacturer.errors %}
                  {{ error }}
                  {% endfor %}
               </ul>
            </div>
         </div>
         {% endif %}
      </div>
      <!--MODEL-->
      <div class="row">
         <div class="col-md-3">
            {{ form.name.label }}  
         </div>
         <div class="col-md-9">	
            {{ form.name(class="field_size1")  }}
         </div>
         {% if form.name.errors %}
         <ul class="errors">
            {% for error in form.name.errors %}
            {{ error }}
            {% endfor %}
         </ul>
         {% endif %}
      </div>
      <!--DESCRIPTION-->
      <div class="row">
         <div class="col-md-3">
            {{ form.description.label }}  
         </div>
         <div class="col-md-9">	
            {{ form.description(class="field_size1")  }}
         </div>
         {% if form.description.errors %}
         <ul class="errors">
            {% for error in form.description.errors %}
            {{ error }}
            {% endfor %}
         </ul>
         {% endif %}
      </div>
      <!--MODEL URL-->
      <div class="row">
         <div class="col-md-3">
            {{ form.product_url.label }}  
         </div>
         <div class="col-md-9">	
            {{ form.product_url(class="field_size1")  }}
         </div>
         {% if form.product_url.errors %}
         <ul class="errors">
            {% for error in form.product_url.errors %}
            {{ error }}
            {% endfor %}
         </ul>
         {% endif %}
      </div>
      <!--IMAGE UPLOAD-->
      <div class="row">
         <div class="col-md-3">
            {{ form.image.label }}  
         </div>
         <div class="col-md-9">
            <input type='file' name='image'>
         </div>
         <!-- <div class="col-md-9">	
            {{ form.image(class="field_size2")  }}
            </div> -->
         <div class="col-md-12">
            {% if form.image.errors %}
            <ul class="errors">
               {% for error in form.image.errors %}
               {{ error }}
               {% endfor %}
            </ul>
            {% endif %}
         </div>
      </div>
      <!--FILE UPLOAD-->
      <div class="row">
         <div class="col-md-3">
            {{ form.file_type.label }}  
         </div>
         <div class="col-md-3">	
            {{ form.file_type()  }}
         </div>
         <div class ="col-md-6">
            <input type='file' name='file'>
         </div>
         <!--<input type='file' name='file'>
            </div>
            <div class="col-md-12">-->
         {% if form.file.errors %}
         <ul class="errors">
            {% for error in form.file.errors %}
            {{ error }}
            {% endfor %}
         </ul>
         {% endif %}
      </div>
   </div>
   <div class="row">
      <div class="col-md-12">
         <input id="button" type="submit" value="Submit">
      </div>
   </div>
   </form>
</div>
{% endblock %}