{% extends "main.html" %}
{% block maincontent %}
{% for model in models %}

   <div class="row">
      <h3>
      <div class="col-xs-7">
         {{model.manufacturer}} -
      
         {{model.name}} 
      </div>
      
      <div class="col-xs-5">
         <img class="img-circle" src="{{model.image_path}}" style="float:right; margin-top:0px" >
      </div>
   </h3>
   </div>

<div class ="row">
   <div class="col-xs-12">
	{% if model.product_url != "" %}
	<a id="button" href='{{model.product_url}}'>Product Website </a>
   	{% endif %}
   </div>
</div>
{% if login_session['name'] %}

   {% if files %}
   {% for file in files %}
   {% if file.model_id == model.id %}
   <div class="row">
      <div class="col-xs-12">
         <a id="button" href='{{file.path}}'>{{file.file_type}}</a>
      </div>
   </div>
   {% endif %}
   {% endfor %}
   {% endif %}
   <div class="row">
      <div class="col-md-6">
      </div>
      <div class="col-xs-6 col-md-3">
         <a id="button2"  href='{{url_for('editmodel', model_id=model.id)}}'>Edit</a>
      </div>
      <div class="col-xs-6 col-md-3">
         <a id="button2" href='{{url_for('deletemodel', model_id=model.id)}}'>Del</a>
      </div>
      
   </div>
{% endif %}
{% endfor %}
{% if login_session['name'] %}
<hr>
<div class = "row">
<div class="col-xs-12">
   <a id="button" href='{{url_for('addmodel', category_id = category_id)}}'>Add New Model</a>
</div>
</div>
{% endif %}
{% endblock %}
